/*Global*/
p{
  margin-top:15px;
}

body{
  background-color: #ecf0f1;
}


/*************************/
/**     PUBLIC VIEW     **/
/*************************/

#TabsContainer{
  margin-top:30px;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}

h1{
  margin-bottom:30px;
}

.tab{
  border:1px solid #555;
  margin:0 10px;
  position: relative;
  padding-bottom: 10px;
  border-radius: 8px 8px 3px 3px;
  background-color: rgb(44,62,80);
  max-height: 65px;
  margin-top:-8px;
  overflow: hidden;
  transition:all 0.3s ease;
}

.tab.choiceCategory{
  max-height:500px!important;
  margin-top:-8px!important;
  overflow: scroll;
  box-shadow: 0px 0px 15px black;
  background-color: rgb(64,82,100);
}

.tab:hover{
  box-shadow: 0px 0px 15px black;
  max-height:100px;
  margin-top:-43px;
  transition:all 0.3s ease;
}

#submitPart{
  margin-top:15px;
}

.tabTitle{
  padding:20px;
  border-radius: 15px 15px 0px 0px;
  font-size: 18px;
  color: #fbfcfc;
  display:block;
  clear: both;
  cursor: pointer;
}

.docsContainer{
  padding:5px;
  min-height: 100px;
}

.badgeBlock{
  padding:5px;
  margin-bottom:5px;
}

.badgeBlock .badgeContent{
  box-shadow: 0px 0px 8px #999;
  padding:2px;
  background-color: rgba(255,255,255,0.9);
  min-height:124px;
}

img.badgeImage{
  width:100px;
  display: inline-block;
  float:left;
  height:100px;
  margin:10px;
  padding:8px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #333 inset;
  border:2px solid #bbb;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

.badgeBlock .badgeDetails{
  display: block;
}

.badgeDetails span.badgeName{
  font-weight: 900;
}

.badgeDetails p.badgeIssuer{
  margin-bottom:8px;
  margin-top: 12px;
  margin-right: 30px;
}
.badgeDetails p.badgeDescription{
  margin-top:0px;
  margin-bottom:0px;
  font-size: 14px;
  margin-left:8px;
  margin-right:5px;
}

.badgeDetails .badgeLink{
  float:right;
  margin-right:10px;
  padding:10px;
}

.badgeBlock a{
  color:black;
  text-decoration: underline;
}

input.visibilityCheckBox[type="checkbox"], input.visibilityCheckBox[type="checkbox"] + label{
  position: absolute;
  top :0px;
  right:0px;
}

input.visibilityCheckBox[type="checkbox"] + label:hover::after, input.visibilityCheckBox[type="checkbox"]:checked + label:hover::after{
  top: -35px;
  left:-130px; 
}

#syncOBbutton{
  width:320px;
  clear:both;
  display: block;
  margin: 0px auto;
  margin-bottom:15px;
  background-color:rgba(126, 206, 234, 0.5);
}

#syncDYBDocumentsButton{
  margin:15px;
}


.documentBlock{
  padding:5px;
  margin-bottom:5px;
}

.documentBlock .documentContent{
  box-shadow: 0px 0px 8px #999;
  padding:5px;
  padding-top:20px; /*Space for tools buttons*/
  background-color: rgba(255,255,255,0.9);
  min-height:124px;
}

.documentBlock .documentContent a{
  color:black;
  text-decoration: underline;
}

.documentBlock .documentContent .documentTitle{
  padding-left:25px;
}

div.removeButton{
  position: absolute;
  top:0;
  right:27px;
}

input.editionCheckBox[type="checkbox"] + label{
  position: absolute;
  top:0;
  right:54px;
}