//-Bootstrap links and main style
script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
style
  include main.css
  include accountSettings.css
  
div.container(onload="init()")
  div.col-md-2.leftMenu
    div.sidebar-nav
      div.navbar.navbar-default(role='navigation')
        div.navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target = '.sidebar-navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          span.visible-xs.navbar-brand Menu
        div.navbar-collapse.collapse.sidebar-navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='#') Mon profil
            li
              a(href='/public/portfolio' target="_blank") Voir mon Portfolio
            li
              a(href='#choices') Mes choix
            li.active
              a(href='#accountSettings') Paramètres
  div.col-md-10.settingsContainer
    div.row.text-center
      h1.col-md-12 Configurations des comptes
    div.row
      div.col-md-6
        h2 DoYouBuzz
        p Entrer votre clé API obtenu de DoYouBuzz (#[a(href='#') Aide]) :
        input#apiKey(type='text', name='DYBapiKey', placeholder='API Key', onchange="checkDYBchange()")
        p Entrer votre clé API secrète obtenu de DoYouBuzz (#[a(href='#') Aide]) :
        input#apiSecret(type='text', name='DYBapiSecret', placeholder='API Secret', onchange="checkDYBchange()")
        button.btn.btn-warning#DYBconnection(type="button", style="display: none;", onclick="getDYBConnection()") (Re)Connecter mon compte DoYouBuzz.
        div.spinner#DYBloadingIcon(style="display:none;")
        button.btn.btn-success#DYBconnected(type="button", style="display: none;") Votre compte DoYouBuzz est maintenant enregistré.
      div.col-md-6
        h2 OpenBadges
        p Entrer l'adresse email associée à votre compte OpenBadges :
        input#openBadgesEmail(type='text', name='OBemail', placeholder='name@example.com')

      script(type="text/javascript").
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", "getAccountsInfos", false ); // false for synchronous request
        xmlHttp.send( null );
        var data = JSON.parse(xmlHttp.responseText)[0];
        document.getElementById("apiKey").value = data.doYouBuzzAPIKey;
        document.getElementById("apiSecret").value = data.doYouBuzzAPISecret;
        document.getElementById("openBadgesEmail").value = data.openBadgesEmail;
        if(data.DYBResponse != "OK"){
          document.getElementById("DYBconnection").setAttribute("style", "");
        }else{
          document.getElementById("DYBconnected").setAttribute("style", "");
        }
    div.row
      div.col-md-12.submitButton.text-center
        button.btn.btn-primary#submitChanges(onclick="submitAccountInfos()") Valider les changements
        div.alert.alert-success#savedMessage(hidden="true") Vos paramètres sont enregistrées
        div.alert.alert-danger#missingArguments(hidden="true") Des données sont manquantes ou invalides, merci de vérifier puis de réessayer.
        
        
script(type="text/javascript").
    function getDYBConnection(){
      document.getElementById("DYBloadingIcon").setAttribute("style", "");
      var DYBapiKey = document.getElementById("apiKey").value;
      var DYBapiSecret = document.getElementById("apiSecret").value;
      if(DYBapiKey == "" || DYBapiSecret == ""){
            console.log("Missing arguments");
            return;
      }
      var callback = window.location;
      var xmlHttp = new XMLHttpRequest();
      var parameters = "DYBapiKey=" + DYBapiKey + "&DYBapiSecret=" + DYBapiSecret + "&callback=" + callback;
      xmlHttp.open( "POST", "getDYBConnection", true ); // true for asynchronous request
      xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xmlHttp.onreadystatechange = function(){
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                 var uri = "http://www.doyoubuzz.com/fr/oauth/authorize" + "?" + xmlHttp.responseText;
                 window.open(uri, '_blank'); //open the link in a new window to avoid bugs
            }
      }
      xmlHttp.send( parameters );
    }

    function submitAccountInfos(){
        document.getElementById("missingArguments").setAttribute("hidden", true);
        var DYBapiKey = document.getElementById("apiKey").value;
        var DYBapiSecret = document.getElementById("apiSecret").value;
        var OBemail = document.getElementById("openBadgesEmail").value;
        var docId = data.id;
        if(DYBapiKey == "" || DYBapiSecret == "" || OBemail == ""){
            document.getElementById("missingArguments").removeAttribute("hidden");
            return;
        }
        var parameters = "DYBapiKey=" + DYBapiKey + "&DYBapiSecret=" + DYBapiSecret + "&OBemail=" + OBemail + "&id=" + docId; 
        var xhttpInfos = new XMLHttpRequest();
        xhttpInfos.open("PUT", "updateAccountsInfos", false);
        xhttpInfos.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttpInfos.send(parameters);
        
        //if we have an openBadge backpack email, we request all openbadges
        if(OBemail){
          var xhttpBadges = new XMLHttpRequest();
          xhttpBadges.open("GET", "syncBadgesGroup", false);
          xhttpBadges.send();
        }
        document.getElementById("savedMessage").removeAttribute("hidden");
    }
    
    function checkDYBchange(){
      var DYBapiKey = document.getElementById("apiKey").value;
      var DYBapiSecret = document.getElementById("apiSecret").value;
      var changes = DYBapiKey == data.doYouBuzzAPIKey || DYBapiSecret == data.doYouBuzzAPISecret;
      if(data.doYouBuzzOauthVerifierTokenSecret == "" && !data.DYBresponse || changes){
        console.log("need connection");
        //document.getElementById("DYBconnection").setAttribute("style", "");
        //document.getElementById("DYBconnected").setAttribute("style", "display: none;");
      }else if(data.doYouBuzzOauthVerifierTokenSecret != "" || !data.DYBresponse && !changes){
        console.log("connected");
        //document.getElementById("DYBconnection").setAttribute("style", "display: none;");
        //document.getElementById("DYBconnected").setAttribute("style", "");
      }
    }