//-Bootstrap links and main style
script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
style
  include main.css
  
div.container
  div.col-md-2.leftMenu
    div.sidebar-nav
      div.navbar.navbar-default(role='navigation')
        div.navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target = '.sidebar-navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          span.visible-xs.navbar-brand Menu
        div.navbar-collapse.collapse.sidebar-navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='#') Mon profil
            li
              a(href='#portfolio') Mon Portfolio
            li.active
              a(href='#choices') Mes choix
            li
              a(href='#accountSettings') Paramètres
  div.col-md-10.choicesContainer
    div.row.text-center
      h1.col-md-12 Mes choix
    div.row.tab
      a.tabTitle.col-md-12 Aperçu
    div.row.tab
      a.tabTitle.col-md-12 Images
    div.row.tab
      a.tabTitle.col-md-12 Vidéos
    div.row.tab
      a.tabTitle.col-md-12 Audios
    div.row.tab
      a.tabTitle.col-md-12 Documents
    div.row.tab#badgesTab
      a.tabTitle.col-md-12 Mes badges
      //- badges will be built here   
    div.row.tab
      a.tabTitle.col-md-12 Projets
    div.row#submitPart
      div.col-md-12.submitButton.text-center
        button.btn.btn-primary#submitChanges(type="button", onclick="submitChanges()") Valider les changements
        div.alert.alert-success#savedMessage(hidden="true")
        div.alert.alert-danger#ErrorMessage(hidden="true")
      
      
script(type="text/javascript").
  var groups = {};
  init();
  
  function init(){
    
    //get all badges from database and build them on page
    var xmlHttpInfos = new XMLHttpRequest();
    xmlHttpInfos.open( "GET", "getBadgesGroup", false ); // false for synchronous request
    xmlHttpInfos.send( null );
    groups = JSON.parse(xmlHttpInfos.responseText);
    console.log(groups);
    
    if(groups.length == 0) return;
    var badges = {};
    groups.forEach(function(group, index, array){
      badges = group.badges;
      badges.forEach(function(badge, index, array){
        buildBadge(badge.name, badge.imageUrl, badge.issuerName, badge.issuerUrl, badge.issuedOn, badge.description, badge.criteria, index); 
      });
    });
  }
  
  /*var xmlHttpDestroy = new XMLHttpRequest();
  xmlHttpDestroy.open( "GET", "deleteBadgesGroups", false ); // false for synchronous request
  xmlHttpDestroy.send( null );
  console.log(xmlHttpDestroy.responseText);
  
  var xmlHttpUpdate = new XMLHttpRequest();
  xmlHttpUpdate.open( "GET", "updateBadgesGroup", false ); // false for synchronous request
  xmlHttpUpdate.send( null );
  
  var xmlHttpInfos = new XMLHttpRequest();
  xmlHttpInfos.open( "GET", "getBadgesGroup", false ); // false for synchronous request
  xmlHttpInfos.send( null );
  data = JSON.parse(xmlHttpInfos.responseText);
  console.log(data);*/
    
  //funciton to build badge on page
  function buildBadge(badgeName, imageUrl, issuerName, issuerUrl, issueDate, description, hostedUrl, index){
    var badgeId = "badge"+index;
    var container = 
      '<div class="docsContainer">' +
        '<div class="badgeBlock col-md-6">' +
          '<div class="badgeContent col-md-12">' +
            '<img class="badgeImage" src="' + imageUrl + '"/>'+
            '<div class="badgeDetails">' +
              '<input id="'+ badgeId +'" badge="' + badgeName + '" class="visibilityCheckBox badgeVisibility" type="checkbox" name="' + badgeId + '" />' +
              '<label for="' + badgeId + '"></label>' +
              '<p class="badgeIssuer"> <span class="badgeName">' + badgeName + '</span>' +
                ', délivré par <a href="' + issuerUrl + '">' + issuerName + '</a>, le ' + issueDate + '' +
              '</p>' +
              '<p class="badgeDescription">' + description + '</p>' +
              '<a class="badgeLink" href="' + hostedUrl + '">Voir sur le site d\'origine ></a>' +
            '</div>' +
          '</div>' +
        '</div>' +
      '</div>';
      
      //add to badges tab
      document.getElementById("badgesTab").innerHTML += container;
  }
  
  
  function submitChanges(){
    
    
    //submit badges visibilities
    var badgesInputs = document.getElementsByClassName("badgeVisibility");
    var badgeElement = {};
    var badgesToSubmit = [];
    for(var i=0; i<badgesInputs.length; i++){
      badgeElement = {"name":badgesInputs[i].getAttribute("badge"), "visibility":badgesInputs[i].checked};
      badgesToSubmit.push(badgeElement);
    }
    console.log(badgesToSubmit);
  }