//-Bootstrap links and main style
script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
style
  include main.css
  
div.container
  div.col-md-2.leftMenu
    div.sidebar-nav
      div.navbar.navbar-default(role='navigation')
        div.navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target = '.sidebar-navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          span.visible-xs.navbar-brand Menu
        div.navbar-collapse.collapse.sidebar-navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='#') Mon profil
            li
              a(href='#portfolio') Mon Portfolio
            li.active
              a(href='#choices') Mes choix
            li
              a(href='#accountSettings') Paramètres
  div.col-md-10.choicesContainer#choicesContainer
    div.row.text-center
      h1.col-md-12 Mes choix
    div.row.tab
      a.tabTitle.col-md-12(onclick="chooseCategory(this);") Aperçu
    div.row.tab
      a.tabTitle.col-md-12(onclick="chooseCategory(this);") Images
    div.row.tab
      a.tabTitle.col-md-12(onclick="chooseCategory(this);") Vidéos
    div.row.tab
      a.tabTitle.col-md-12(onclick="chooseCategory(this);") Audios
    div.row.tab
      a.tabTitle.col-md-12(onclick="chooseCategory(this);") Documents
    div.row.tab#badgesTab
      a.tabTitle.col-md-12(onclick="chooseCategory(this);") Mes badges
      div.docsContainer.col-md.12
        //- badges will be built here   
    div.row.tab
      a.tabTitle.col-md-12(onclick="chooseCategory(this)") Projets
    div.row#submitPart
      div.col-md-12.submitButton.text-center
        button.btn.btn-primary#submitChanges(type="button", onclick="submitChanges()") Valider les changements
        div.alert.alert-success#savedMessage(hidden="true")
        div.alert.alert-danger#ErrorMessage(hidden="true")
      
      
script(type="text/javascript").
  var groups = {};
  init();
  
  function init(){
    
    //get all badges from database and build them on page
    var xmlHttpGroups = new XMLHttpRequest();
    xmlHttpGroups.open( "GET", "getBadgesGroup", false ); // false for synchronous request
    xmlHttpGroups.send( null );
    groups = JSON.parse(xmlHttpGroups.responseText);
    console.log(groups);
    
    if(groups.length == 0) return;
    var badges = {};
    groups.forEach(function(group, group_index, array){
      badges = group.badges;
      badges.forEach(function(badge, badge_index, array){
        buildBadge(badge.name, badge.imageUrl, badge.issuerName, badge.issuerUrl, badge.issuedOn, badge.description, badge.criteria, badge.visible, group_index+"_"+badge_index); 
      });
    });
  }
    
  //function to build badge on page
  function buildBadge(badgeName, imageUrl, issuerName, issuerUrl, issueDate, description, hostedUrl, visibility, index){
    //id for the badge visibility input
    var badgeId = "badge_"+index;
    //get visibility parameter
    var checked = visibility ? "checked" : "";
    //badge html building
    var container = 
        '<div class="badgeBlock col-md-6">' +
          '<div class="badgeContent col-md-12">' +
            '<img class="badgeImage" src="' + imageUrl + '"/>'+
            '<div class="badgeDetails">' +
              '<input id="'+ badgeId +'" badge="' + badgeName + '" class="visibilityCheckBox badgeVisibility" type="checkbox" name="' + badgeId + '" '+ checked +' />' +
              '<label for="' + badgeId + '"></label>' +
              '<p class="badgeIssuer"> <span class="badgeName">' + badgeName + '</span>' +
                ', délivré par <a href="' + issuerUrl + '">' + issuerName + '</a>, le ' + issueDate + '' +
              '</p>' +
              '<p class="badgeDescription">' + description + '</p>' +
              '<a class="badgeLink" target="_blank" href="' + hostedUrl + '">Voir sur le site d\'origine ></a>' +
            '</div>' +
          '</div>' +
        '</div>';
      
      //add to badges tab
      document.getElementById("badgesTab").childNodes[1].innerHTML += container;
  }
  
  
  function submitChanges(){
    
    
    
    //submit badges visibilities
    var badgesInputs = document.getElementsByClassName("badgeVisibility");
    var badgesToSubmit = {};
    for(var i=0; i<badgesInputs.length; i++){
      badgesToSubmit[badgesInputs[i].getAttribute("badge")] = badgesInputs[i].checked;
    }
    var xmlHttpUpdate = new XMLHttpRequest();
    xmlHttpUpdate.open( "PUT", "updateBadgesGroup", false ); // false for synchronous request
    xmlHttpUpdate.setRequestHeader("Content-type", "application/json");
    xmlHttpUpdate.send( JSON.stringify(badgesToSubmit) );
  }
  
  
  
  function syncObenBadgesBackPack(){
    var xmlHttpDestroy = new XMLHttpRequest();
    xmlHttpDestroy.open( "GET", "deleteBadgesGroups", true ); // true for asynchronous request
    xmlHttpDestroy.onreadystatechange = function(){
        if (xmlHttpDestroy.readyState == 4 && xmlHttpDestroy.status == 200) {
          var xmlHttpSync = new XMLHttpRequest();
          xmlHttpSync.open( "GET", "syncBadgesGroup", true ); // true for asynchronous request
          if (xmlHttpSync.readyState == 4 && xmlHttpSync.status == 200) {
             document.getElementById("badgesTab").childNodes[1].innerHTML = "";
             init();
          }
          xmlHttpSync.send();
        }
    }
    xmlHttpDestroy.send();
  }
  
  
  function chooseCategory(element){
    var categoriesDIV = document.getElementById("choicesContainer").getElementsByClassName("tab");
    for(var i in categoriesDIV){
      categoriesDIV[i].className = "tab";
    }
    element.parentNode.className = "tab choiceCategory";
  }