/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  div.navbar{
    border-radius:0px;
    margin-top:20px;
    background-color:rgba(0,0,0,0);
  }
  
  div.navbar ul.nav li a{
    color:#444;
    font-weight:700;
  }
  
  div.navbar ul.nav li a:hover{
    color:#BBB;
    font-weight:700;
    background-color:rgb(44, 62, 80);
  }
}

@media (max-width: 767px) {
  h3.nav-header{
    display: none;
  }
}


/*Global*/
div.container{
  width:100%;
  padding:0;
}

div.leftMenu{
  padding:0;
}

div.submitButton{
  margin-top:30px;
}

div.submitButton button{
  margin-bottom:20px;
}

input{
  width: 250px;
}